$dark: (
  "background": #2a2a2a,
  "foreground": #eeeeee,
  "item": #3a3a3a,
  "button": #3a3a3a,
  "buttonActive": #404040
);

$background: #252525;
$foreground: #eeeeee;
$red: #ff4340;
$cyan: #00bee0;
$green: #7cb342;
$mastColor: #7cb342;