@import "colors";

body {
  background-color: $background;
  color: $foreground;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
}

.container {
  width: 90vw;
  margin: 2rem 5vw;
}

img.centered {
  display: block;
}

.blurred {
  filter: blur(5px);

  &.unblurable {
    &:hover {
      transition: all ease-in 150ms;
      filter: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;

  &.rounded {
    border-radius: 8px;
  }

  &.thumbnail {
    width: 24px;
  }

  &.small {
    width: 128px;
  }

  &.medium {
    width: 256px;
  }
  &.large {
    width: 512px;
  }
}

.divider {
  width: 70vw;
  height: 10px;
  border-bottom: 1px solid map-get($dark, "item");
  margin: 1rem 15vw;
  &.wide {
    width: 100vw;
  }
}

.bounce {
  -moz-animation: bounce 2s 10;
  -webkit-animation: bounce 2s 10;
  animation: bounce 2s 10;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.color-demo {
  cursor: pointer;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 0px 0px 10px 0px rgba(darken($background, 10%), 0.5);
  transition: all ease-in-out 150ms;

  &.red {
    background-color: $red;
    box-shadow: 0px 0px 10px 0px rgba(darken($red, 10%), 0.5);
  }

  &.blue {
    background-color: $cyan;
    box-shadow: 0px 0px 10px 0px rgba(darken($cyan, 10%), 0.5);
  }

  &.green {
    background-color: $green;
    box-shadow: 0px 0px 10px 0px rgba(darken($green, 10%), 0.5);
  }

  &.bg {
    background-color: $background;
  }

  &.fg {
    background-color: $foreground;
    color: $background;
    box-shadow: 0px 0px 10px 0px rgba($foreground, 0.5);
  }

  &:hover {
    margin-top: -0.25rem; // "Pop Up" action on hover
    margin-bottom: 0.25rem; // Prevent the entire page from shifting on hover
    transition: all ease-in-out 150ms; // Smooth out the animation
  }
}
