@import "../font-awesome/scss/fontawesome.scss";
@import "../font-awesome/scss/solid.scss";
@import "../font-awesome/scss/brands.scss";

$light: (
  "background": #cdcdcd,
  "foreground": #252525,
  "item": #c0c0c0
);

$dark: (
  "background": #2a2a2a,
  "foreground": #eeeeee,
  "item": #3a3a3a
);

$background: #252525;
$foreground: #eeeeee;
$red: #ff4340;
$darkRed: #bb312f;
$cyan: #00bee0;
$green: #7cb342;

a,
p,
h1,
h2,
h3,
h4,
b,
i,
body {
  font-family: "Spartan";
}

.code {
  font-family: "Fira Code";
  font-variant-ligatures: common-ligatures;
}

pre {
  font-family: "Fira Code";
  font-variant-ligatures: common-ligatures;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

body {
  background-color: $background;
  color: $foreground;
}

a {
  color: $red;
  &:hover {
    color: $darkRed;
  }
}

.container {
  width: 90vw;
  margin-left: 5vw;
}

.centered {
  text-align: center;
}

.light {
  background-color: map-get($light, "background");
  color: map-get($light, "foreground");
  .item {
    background-color: map-get($light, "item");
    &:hover {
      background-color: map-get($light, "background");
      transition: all ease-in 150ms;
    }
  }
  .divider {
    border-bottom: 10px map-get($light, "item");
  }
}

.dark {
  background-color: map-get($dark, "background");
  color: map-get($dark, "foreground");
  .item {
    background-color: map-get($dark, "item");
    &:hover {
      background-color: map-get($dark, "background");
      transition: all ease-in 150ms;
    }
  }
  .divider {
    border-bottom: 10px map-get($dark, "item");
  }
}

.blurred {
  filter: blur(5px);

  &.unblurable {
    &:hover {
      transition: all ease-in 150ms;
      filter: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;

  &.rounded {
    border-radius: 8px;
  }

  &.thumbnail {
    width: 24px;
  }

  &.small {
    width: 128px;
  }

  &.medium {
    width: 256px;
  }
  &.large {
    width: 512px;
  }
}

.titlebar.top {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @at-root body {
    margin-top: 4rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Spartan";
    padding: 0px 1rem;
    height: 100%;
    cursor: pointer;
  }
}


.divider {
  width: 100vw;
  height: 10px;
}
